.section {
    padding: 30px 80px;
}
.conteiner{
    display: flex;
justify-content: center;
}
.search-form {
    align-items: center;
    gap: 30px;
} 

 input {
    padding: 5px;
    max-width: 320px;
    width: 220px;
    overflow: hidden;
    outline: none;
    background-color: #fafafa;
    border: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font: inherit;
  }

  .load-more {
    font:inherit;
    margin-left: 70px;
    background-color:green;
    border-radius: 5px ;
    border: 2px solid darkolivegreen;
    color: aliceblue;
    padding: 5px;
    height: 35px;
    width: 125px;
  }
  .load-more:hover {
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.12), 1px 4px 4px rgba(0, 0, 0, 0.06), 2px 4px 6px rgba(0, 0, 0, 0.16);
      transform: scale(1.01);
    }
    .is-hidden {
        display: none;
    }
    .photo-card{
        max-height: 250px;
       height: calc(100% - 60px);
      } 

  .galery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(150px, auto);
  gap: 10px
}   
/**/ 
  /* .photo-card:hover {
    transform: scale(1.03);
  } */






  .gallary-img {
    display: grid;
    max-width: 1700px;
     grid-template-columns: repeat(auto-fit, minmax(420px, 1fr)); 
     grid-auto-rows: 700px; 
     grid-gap: 12px;
    justify-content: center;

    list-style: none;
    margin-left: auto;
    margin-right: auto;
  }
    
    